services:
  postgres:
    image: postgres:${POSTGRES_VERSION:-15}
    ports:
      - "5435:5432"
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5



